body {
  font-family: "Quicksand", sans-serif !important;
}

.table .input-group {
  margin-top: 0 !important;
}

.main-header .logo {
  height: 66px;
  line-height: 66px;
  background-color: #ffffff !important;
  color: #455a64 !important;
}

.main-header .sidebar-toggle {
  padding: 23px 15px;
}

.main-header ion-icon {
  width: 1.5em;
  height: 1.5em;
}

.main-header .nav > li > a {
  padding: 24px 10px 15px;
  color: #85a2b2 !important;
}

.main-header .navbar {
  background-color: #ffffff !important;
}

.main-header .navbar .sidebar-toggle {
  color: #85a2b2 !important;
}

.main-header .navbar .user-menu > .dropdown-menu > li.user-header {
  height: auto !important;
  padding: 25px 10px !important;
  background: url(/material/img/patterns/user-panel-bg_blue.jpg) no-repeat;
  background-size: cover !important;
}

.main-header .user-menu a {
  padding: 22px 10px 19px !important;
  float: left;
}

.main-header .user-menu a .user-image {
  margin-right: 0;
  margin-top: -5px;
  width: 30px;
  height: 30px;
}

.main-header .user-menu a.btn {
  padding: 0 10px !important;
}

.main-header .user-menu .pull-left a {
  margin-right: 4px;
}

.main-header .user-menu .dropdown-menu {
  width: 300px;
}

.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a,
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #85a2b2 !important;
}

/*******************
Notify
*******************/
.notify {
  position: relative;
  top: -17px;
  right: -6px;
}

.notify .heartbit {
  position: absolute;
  top: -20px;
  right: -4px;
  height: 25px;
  width: 25px;
  z-index: 10;
  border: 5px solid #fc4b6c;
  border-radius: 70px;
  -moz-animation: heartbit 1s ease-out;
  -moz-animation-iteration-count: infinite;
  -o-animation: heartbit 1s ease-out;
  -o-animation-iteration-count: infinite;
  -webkit-animation: heartbit 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.notify .point {
  width: 6px;
  height: 6px;
  border-radius: 30px;
  background-color: #fc4b6c;
  position: absolute;
  right: 6px;
  top: -10px;
}

@-webkit-keyframes heartbit {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0.1);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.5);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

.main-sidebar,
.left-side,
.control-sidebar {
  padding-top: 66px;
}

/*******************
sidebar
******************/
.sidebar .user-profile {
  position: relative;
  background-size: cover !important;
}

.sidebar .user-profile .profile-img {
  width: 50px;
  margin-left: 30px;
  padding: 35px 0 30px;
  border-radius: 100%;
}

.sidebar .user-profile .profile-img::before {
  -webkit-animation: 2.5s blow 0s linear infinite;
  animation: 2.5s blow 0s linear infinite;
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top: 35px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 0;
}

@-webkit-keyframes blow {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5);
  }
  50% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5);
  }
}

@keyframes blow {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5);
  }
  50% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5);
  }
}

.user-profile .profile-img img {
  width: 100%;
  border-radius: 100%;
}

.user-profile .profile-text {
  padding: 5px 0px;
  position: relative;
}

.user-profile .profile-text > a {
  color: #ffffff !important;
  width: 100%;
  padding: 6px 30px;
  background: rgba(0, 0, 0, 0.5);
  display: block;
}

.user-profile .profile-text > a:after {
  position: absolute;
  right: 20px;
  top: 20px;
}

.user-profile .dropdown-menu {
  left: 0px;
  right: 0px;
  width: 180px;
  margin: 0 auto;
}

/*Button Style */
.btn {
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 5px 0;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px;
  overflow: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0 20px !important;
  color: #fff !important;
}

.btn:not(.btn-raised).btn-success,
.input-group-btn .btn:not(.btn-raised).btn-success {
  color: #ffffff;
}

.btn:not([disabled]):active {
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn:hover,
.btn:focus,
.btn:active {
  border: none !important;
  outline: 0 !important;
  color: #85a2b2 !important;
}

/*Button default*/
.btn.btn-default {
  border-color: rgba(153, 153, 153, 0.2);
  background-color: rgba(153, 153, 153, 0.2);
  color: #85a2b2 !important;
}

/*Button primary*/
.btn.btn-primary {
  background-color: #009efb;
  border-color: #009efb;
}

/*Button success*/
.btn.btn-success {
  background-color: #009688;
  border-color: #009688;
}

/*Button Info*/
.btn.btn-info {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

/*Button Warning*/
.btn.btn-warning {
  background-color: #ffca28;
}

/*Button Danger*/
.btn.btn-danger {
  background-color: #ef5350;
  border-color: #ef5350;
}

/*Disabled Button*/
.btn[disabled][disabled] {
  color: rgba(0, 0, 0, 0.26);
  background-color: rgba(0, 0, 0, 0.12);
}

.btn[disabled] {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-box-tool {
  background-color: #009688;
  border-color: #009688;
  color: #fff;
  padding: 0 13px !important;
  min-width: auto;
}

/*******************
Table Cell
*******************/
.grid-view .summary {
  display: none;
}

.table-box {
  display: table;
  width: 100%;
}

.table.no-border tbody td {
  border: 0px;
}

.table td,
.table th {
  border-color: #f3f1f1;
  padding: 15px 10px !important;
  font-size: 16px;
}

.table td a .glyphicon-pencil,
.table th a .glyphicon-pencil {
  color: #2f3d4a !important;
  font-size: 12px;
}

.table td a .glyphicon-trash,
.table th a .glyphicon-trash {
  color: #fc4b6c !important;
  font-size: 12px;
}

.table td a .glyphicon-eye-open,
.table th a .glyphicon-eye-open {
  color: #2f3d4a !important;
  font-size: 12px;
}

.table td a .fa,
.table th a .fa {
  color: #2f3d4a !important;
  font-size: 15px;
}

.table thead th,
.table th {
  font-weight: 500;
  color: #85a2b2;
}

.table thead th a,
.table th a {
  color: #85a2b2;
}

.table-hover tbody tr:hover {
  background: #f2f4f8;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table thead th,
.table th {
  border: 0px;
}

.nav-tabs .header {
  color: #fff;
  line-height: 40px;
  font-size: 18px;
  margin: 0 15px;
}

.nav-tabs .header .hydrated {
  font-size: 25px;
  margin-bottom: -5px;
  margin-right: 5px;
}

.nav-tabs li.active {
  border-top: 3px solid #0f5994;
}

.checkbox input[type="checkbox"],
label.checkbox-inline input[type="checkbox"] {
  opacity: 1;
  position: relative;
  margin: 0;
  z-index: 0;
  width: auto;
  height: auto;
}

.kv-tree-wrapper .btn {
  min-width: auto;
  padding: 10px !important;
}

.checkbox input[type="checkbox"],
label.checkbox-inline input[type="checkbox"] {
  margin-right: 5px;
}

.login-box,
.register-box {
  width: 360px;
  background: #fff;
  height: 100%;
  position: fixed;
  right: 0;
  padding: 5% 0;
  margin: 0;
  -webkit-box-shadow: 0 0 15px 0 #000;
          box-shadow: 0 0 15px 0 #000;
}

.login-box-body,
.register-box-body {
  padding: 0 30px;
}

.error {
  margin-top: 125px;
}

.error .headline {
  font-size: 210px;
  font-weight: 900;
  line-height: 210px;
  color: #455a64 !important;
  margin-bottom: 0;
}

.error p {
  line-height: 30px;
  font-size: 21px;
  color: #455a64;
  text-transform: uppercase;
  margin-top: -15px;
  margin-left: 8px;
}

.error img {
  float: right;
  margin-top: 50px;
  width: 200px;
}

.info-white .info-box-icon {
  line-height: 100px;
}

.info-white .info-box-content {
  padding: 22px 10px;
  margin-left: 90px;
}

.skin-blue .progress .progress-bar,
.skin-blue .progress .progress-bar.progress-bar-default {
  background-color: #009688;
}

.box-body {
  padding: 15px;
}

.form-group {
  margin: 0;
}

.table.detail-view th {
  width: 30%;
}

.form-group .form-control {
  background: #f9f9f9;
  padding: 0 10px;
  background-image: none !important;
}

.grid-form .form-group {
  width: 48%;
  display: inline-block;
  margin-right: 1%;
}
/*# sourceMappingURL=style.css.map */