body,
html {
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Tajawal', sans-serif;
}

.pull-right {
    float: left;
}

.select2-container--krajee .select2-selection--single .select2-selection__clear {
    right: auto;
    left: 10px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-right: 15px;
    margin-top: 5px;
}

.universities .item {
    font-family: 'Tajawal', sans-serif;
}

.auth-content .auth-form .form-group>div i {
    position: absolute;
    right: auto;
    left: 15px;
    top: 45px;
    color: #999999;
    font-size: .8em;
}

.select2-container--krajee .select2-selection--single {
    padding: 6px 25px 6px 25px;
}

.fr {
    float: left !important
}

.btnAcco {
    text-align: right;
}

.kv-score {
    left: 22px;
}

.kv-scorebar {
    left: 17px;
}

.bestprice {
    direction: ltr;
    text-align: right;
}

#AccoModal i{
    margin: 0 0 0 10px
}


body .password-wrapper .strength-lines {
    position: absolute;
    top: 32px;
    left: 0;
    right: 13px;
    width: calc(100% - 50px);
    height: 6px;
    z-index: 3;
}

body .password-wrapper .icon-wrapper {
    position: absolute;
    cursor: pointer;
    right: auto;
    top: 41px;
    color: #a09f9f;
    left: 25px;
}
.iti__flag-box, .iti__country-name {
    margin-right: 6px;
    float: right !important;
}
.iti__country-list{
    z-index: 100 !important;
}
.iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
    right: 0;
    left: auto;
}
.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
    padding-right: 52px;
    padding-left: 6px;
    margin-left: 0;
}
.iti__arrow {
    margin-left: 0;
    margin-right: 6px;
}