body,
html {
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Tajawal', sans-serif;
}

.slider,
.slides,
.slider .slides .slide {
    direction: ltr;
}