body,
html {
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Tajawal', sans-serif;
}

.slider,
.slides,
.slider .slides .slide {
    direction: ltr;
}

.pull-right {
    float: left;
}

.select2-container--krajee .select2-selection--single .select2-selection__clear {
    right: auto;
    left: 10px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-right: 15px;
    margin-top: 5px;
}

.universities .item {
    font-family: 'Tajawal', sans-serif;
}