.select2-container--krajee .select2-selection--single {
    height: 40px;
    border-radius: 0;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow {
    border-left: 1px solid #dad8d8;
    height: 38px;
    width: 28px;
}

.help-block {
    color: crimson;
}

.form-group .form-check-group .form-check {
    margin-right: 12px;
    padding-left: 0;
}

.pull-right {
    float: right;
}

.majorsList {
    list-style: none;
    padding: 0;
}

.majorsList li {
    width: 30%;
    display: inline-block;
    margin: 0 1%;
    padding: .9rem 0;
}

.contList {
    list-style: none;
    padding: 0;
}

.contList li {
    width: 30%;
    display: inline-block;
    margin: 0 1%;
    padding: .9rem 0;
}

.search-form.after-jumbotron {
    z-index: 1000;
    position: relative;
}

.successMsg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 10000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.successMsg.show {
    display: flex;
}

.successMsg img {
    width: 135px;
    margin-bottom: 20px;
}

.successMsg h3 {
    font-size: 2.2rem;
    font-weight: 100;
}

.auth-content .auth-form .form-group>div i {
    position: absolute;
    right: 15px;
    top: 45px;
    color: #999999;
    font-size: .8em;
}

.auth-content .auth-form .form-group .form-check {
    padding: 0;
}

.select2-container--krajee .select2-selection--single {
    padding: 6px 60px 6px 12px;
}

.select2-container--krajee .select2-selection--single .select2-selection__clear {
    right: 2rem;
}

.deleteStudent {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 18px;
}

.btnAcco {
    background: #fff;
    border: 1px solid #ced4da;
    color: #495057;
    width: 100%;
    text-align: left;
    border-radius: 0;
    height: 42px;
}

.btnAcco:hover {
    background: #fff;
    border: 1px solid #ced4da;
    color: #495057;
}

.footer .form-group button {
    top: 55px;
}

.nav-pills .nav-item .nav-link {
    /* font-size: 1rem; */
}


/* .auth-form .help-block {
    color: crimson;
    height: 50px !important;
} */

.auth-content .auth-info {
    min-height: 1550px;
}

@media (max-width: 768px) {
    .majorsList li,
    .contList li {
        width: 100%;
    }
}