.select2-container--krajee .select2-selection--single {
    height: 40px;
    border-radius: 0;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow {
    border-left: 1px solid #dad8d8;
    height: 38px;
    width: 28px;
}

.help-block {
    color: crimson;
}

.form-group .form-check-group .form-check {
    margin-right: 12px;
    padding-left: 0;
}

.pull-right {
    float: right;
}

.majorsList {
    list-style: none;
    padding: 0;
}

.majorsList li {
    width: 30%;
    display: inline-block;
    margin: 0 1%;
    padding: .9rem 0;
}

.contList {
    list-style: none;
    padding: 0;
}

.contList li {
    width: 30%;
    display: inline-block;
    margin: 0 1%;
    padding: .9rem 0;
}

.search-form.after-jumbotron {
    z-index: 1000;
    position: relative;
}

.successMsg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 10000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.successMsg.show {
    display: flex;
}

.successMsg img {
    width: 135px;
    margin-bottom: 20px;
}

.successMsg h3 {
    font-size: 2.2rem;
    font-weight: 100;
}

.auth-content .auth-form .form-group>div i {
    position: absolute;
    right: 15px;
    top: 45px;
    color: #999999;
    font-size: .8em;
}

.auth-content .auth-form .form-group .form-check {
    padding: 0;
}

.select2-container--krajee .select2-selection--single {
    padding: 6px 60px 6px 12px;
}

.select2-container--krajee .select2-selection--single .select2-selection__clear {
    right: 2rem;
}

.deleteStudent {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 18px;
}

.btnAcco {
    background: #fff;
    border: 1px solid #ced4da;
    color: #495057;
    width: 100%;
    text-align: left;
    border-radius: 0;
    height: 42px;
}

.btnAcco:hover {
    background: #fff;
    border: 1px solid #ced4da;
    color: #495057;
}

.footer .form-group button {
    top: 55px;
}

.nav-pills .nav-item .nav-link {
    /* font-size: 1rem; */
}


/* .auth-form .help-block {
    color: crimson;
    height: 50px !important;
} */

.auth-content .auth-info {
    min-height: 1550px;
}

.universities-row .item-footer>div {
    width: 25%;
    
}
.pagination li {
    width: 30px;
    height: 30px;
    background: #fff;
    line-height: 30px;
    margin: 1px;
}
.pagination li.active {
    background: #204183;
    color: #fff;
}
.pagination li.active a{
    background: #204183;
    color: #fff;
}
.pagination li a:hover {
    text-decoration: none;
}
.pagination li:hover {
    background:#313131;
}

#AccoModal i{
    margin: 0 10px 0 0
}
#searchBtnMob{
    display: none;
}

/*/////////Password strength////////////*/



.bg-transparent {
    background-color: transparent !important;
  }
  
  .bg-red {
    background-color: #e74c3c !important;
  }
  
  .bg-orange {
    background-color: #e67e22 !important;
  }
  
  .bg-green {
    background-color: #2ecc71 !important;
  }
  body .password-wrapper .input {
    border: none;
    padding: 10px 15px;
    font: small-caption;
    font-size: 18px;
    font-size: 1.8rem;
    width: calc(100% - 50px);
    color: #34495e;
    outline: none;
    line-height: 1.5;
  }
  body .password-wrapper .icon-wrapper {
      position: absolute;
      cursor: pointer;
      right: 25px;
      top: 38px;
      color: #a09f9f;
  }
  body .password-wrapper .icon-wrapper .ion-eye,
  body .password-wrapper .icon-wrapper .ion-more {
    font-size: 26px;
    font-size: 2.6rem;
    position: absolute;
    top: 11px;
    right: 12px;
    color: #ccc;
    transition: color 0.25s ease-out;
  }
  
  body .password-wrapper .strength-lines {
      position: absolute;
      top: 32px;
      left: 13px;
      right: 0;
      width: calc(100% - 50px);
      height: 6px;
      z-index: 3;
  }
  body .password-wrapper .strength-lines .line {
    position: absolute;
    background-color: transparent;
    height: 6px;
    border-radius: 2px;
    transition: background-color 0.25s ease-in;
  }
  body .password-wrapper .strength-lines .line:not(:first-of-type):not(:last-of-type) {
    left: 33%;
    right: 33%;
  }
  body .password-wrapper .strength-lines .line:first-of-type {
    left: 4px;
    right: 68%;
  }
  body .password-wrapper .strength-lines .line:last-of-type {
    left: 68%;
    right: 4px;
  }

  #searchBtnMob .button{
    width: 49% !important;
    display: inline-block !important;
    margin: 0;
  }
  #updateSearchMob{
      display: none;
  }

  .universities .item .item-footer .item-label{
    text-transform: capitalize !important; 
  }
  .button-default {
    color: #0a0a0a;
}
.iti__country-list{
    z-index: 100 !important;
}
.video-fluid{
    width: 445px;
}


#dwdwdw{
    width: 200px;
    float: right;
}

@media (max-width: 768px) {
    .auth-content .auth-form .form-group>div {
        width: 100%;
    }
    #dwdwdw{
        width: 100%;
        float: none;
    }
    .video-fluid{
        width: 100%;
    }
    .majorsList li,
    .contList li {
        width: 100%;
    }
    .universities-row .item-footer>div {
        width: 100%;
        
    }
    .universities .item .item-header figure {
        background: #fff;
    }
    #searchfilters,#searchfilters2,#searchBtnDesktop{
        display: none;
    }
    #searchfilters.show,#searchfilters2.show{
        display: block;
    }
    #searchBtnMob{
        display: block;
    }
    #updateSearchMob{
        display: block;
    }
    .hideMob{
        display: none;
    }
}